requests>=2.32.3
transformers>=4.37.0
# torch>=2.3.0+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
pandas>=2.2.3
numpy>=1.26.3
sqlalchemy>=2.0.30
python-dotenv>=1.0.0
einops>=0.7.0
transformers-stream-generator>=0.0.5

torch>=2.3.0
torchvision>=0.18.0
torchaudio>=2.3.0
--extra-index-url https://download.pytorch.org/whl/cu118
